{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_aside %}

    {% set easyCheckoutVariables = page.extensions.easy_checkout_variables %}
    {% set easyCheckoutType = easyCheckoutVariables.checkoutType %}
    {% set easy_checkout_is_active = easyCheckoutVariables.easy_checkout_is_active %}
    {% if easyCheckoutType == 'embedded' and easy_checkout_is_active == 1 %}

        <div id="dibs-checkout-embedded">
            <div id="dibs-complete-checkout"></div>
        </div>


        {% set easyCheckoutKey = easyCheckoutVariables.checkoutKey %}
        {% set easyPaymentId = easyCheckoutVariables.paymentId %}
        {% set easyEnvironment = easyCheckoutVariables.environment %}
        {% set easyCartErrors  = easyCheckoutVariables.cart_errors %}
        {% set easyPlaceOrderUrl = easyCheckoutVariables.place_order_url %}
        {% set easyCheckoutJsAsset = easyCheckoutVariables.easy_checkout_ja_asset %}

        <script type="text/javascript" src="{{ easyCheckoutJsAsset }}"></script>

        <script>
            //<![CDATA[
            const checkoutOptions = {
                checkoutKey: '{{ easyCheckoutKey }}',
                paymentId: '{{ easyPaymentId }}',
                containerId: 'dibs-complete-checkout',
                language: 'en-GB',
            };

            const checkout = new Dibs.Checkout(checkoutOptions);

            checkout.on('payment-completed', function(response) {
                console.log(response);
                window.location.href = '{{ easyPlaceOrderUrl }}' + '?paymentId=' + response.paymentId;
            });

            {% if easyCartErrors > 0 %}
                checkout.freezeCheckout();
            {% endif %}
            //]]>
        </script>

    {% else %}
       <div id="dibs-checkout-embedded">
       </div>
    {% endif %}
    {{ parent() }}

{% endblock %}


{% block page_checkout_aside_container %}
    <div class="checkout-summary">
        {{ parent() }}
    </div>
{% endblock %}


{% block page_checkout_confirm_form_submit %}
    {% if easyCheckoutType == 'embedded' and easy_checkout_is_active == 1 %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
