{% block sw_order_detail_details_payment %}
  <template v-if="!isNexiNetsPayment">
    {% parent %}
  </template>

  <template v-else>
    {% block nexinets_payment_component %}
      <sw-card :title="$tc('nexinets-payment-component.payment-details.title')" :isLoading="isLoading" :key="reloadKey">
        <div class="nexinets-details__header-wrapper">
          <div>
            <p class="nexinets-details__status-text">
              {{ $tc('nexinets-payment-component.payment-details.status-label') }}
            </p>
            <sw-label :variant="variant" size="default" appearance="pill" class="nexinets-details__status-label">
              {{ $tc(statusTcString) }}
            </sw-label>
          </div>
          <div class="nexinets-details__history-link">
            <sw-internal-link
              :routerLink="undefined"
              :inline="false"
              :hideIcon="true"
              @click="showStateHistoryModal = true"
            >
              {{ $tc('nexinets-payment-component.payment-details.history-link') }}
            </sw-internal-link>
          </div>
        </div>
        <sw-container columns="1fr 1fr" class="nexinets-details__main-wrapper">

          {% block sw_order_detail_details_payment_billing_address %}
            <sw-order-address-selection
              class="sw-order-detail-details__billing-address"
              type="billing"
              :address="billingAddress"
              :address-id="selectedBillingAddressId"
              :disabled="!acl.can('order.editor') || undefined"
              :label="$tc('sw-order.createBase.detailsBody.labelBillingAddress')"
              @change-address="onChangeOrderAddress"
            />
          {% endblock %}

          {% block sw_order_detail_details_payment_method_select %}
            <sw-entity-single-select
              v-model:value="transaction.paymentMethodId"
              entity="payment_method"
              label-property="distinguishableName"
              disabled
              :criteria="paymentMethodCriteria"
              :label="$tc('sw-order.createBase.detailsFooter.labelPaymentMethod')"
              :placeholder="$tc('sw-order.createBase.detailsFooter.placeholderPaymentMethod')"
              show-clearable-button
            />
          {% endblock %}

          {% block nexinets_payment_component_payment_details %}
            <template v-if="!hasFetchError">
              <div>
                <sw-text-field
                  :label="$tc('nexinets-payment-component.payment-details.payment-via')"
                  :value="paymentDetails.paymentVia"
                  disabled
                />
              </div>
              <div>
                <sw-text-field
                  :label="$tc('nexinets-payment-component.payment-details.payment-id')"
                  :value="paymentDetails.paymentId"
                  disabled
                />
              </div>
              <div>
                <sw-text-field
                  :label="$tc('nexinets-payment-component.payment-details.order-amount')"
                  :value="paymentDetails.orderAmount"
                  disabled
                >
                  <template v-slot:suffix>{{ order.currency.symbol }}</template>
                </sw-text-field>
              </div>
              <div>
                <sw-text-field
                  :label="$tc('nexinets-payment-component.payment-details.time-order')"
                  :value="paymentDetails.orderTime"
                  type="date"
                  disabled
                >
                  <template v-slot:suffix><sw-icon name="regular-calendar" /></template>
                </sw-text-field>
              </div>
              <div v-if="!isNewPayment">
                <sw-text-field
                  :label="$tc('nexinets-payment-component.payment-details.charged-amount')"
                  :value="paymentDetails.chargedAmount"
                  disabled
                  :helpText="$tc('nexinets-payment-component.payment-details.charged-help-text')"
                >
                  <template v-slot:suffix>{{ order.currency.symbol }}</template>
                </sw-text-field>
              </div>
              <div v-if="shouldDisplayRefundField">
                <sw-text-field
                  :label="$tc('nexinets-payment-component.payment-details.refunded-amount')"
                  :value="paymentDetails.refundedAmount"
                  disabled
                  :helpText="$tc('nexinets-payment-component.payment-details.refunded-help-text')"
                >
                  <template v-slot:suffix>{{ order.currency.symbol }}</template>
                </sw-text-field>
              </div>
            </template>
          {% endblock %}
        </sw-container>
        {% block nexinets_payment_component_footer %}
          <template #footer>
            <div class="nexinets-details__action-buttons" v-if="shouldDisplayButtonsSection">
              <div>
                <sw-button v-if="shouldDisplayCancelBtn" :isLoading="isLoading" @click="toggleCancelModal">{{ $tc('nexinets-payment-component.cancel.button-title') }}</sw-button>
                <sw-button v-if="shouldDisplayRefundBtn" :isLoading="isLoading" @click="toggleRefundModal">{{ $tc('nexinets-payment-component.refund.button-title') }}</sw-button>
                <sw-button v-if="shouldDisplayChargeBtn" :isLoading="isLoading" @click="toggleChargeModal">{{ $tc('nexinets-payment-component.charge.button-title') }}</sw-button>
              </div>
            </div>
          </template>
        {% endblock %}
        {% block nexinets_charge_modal %}
          <sw-modal
                  v-if="isChargeModalVisible"
                  :title="$tc('nexinets-payment-component.charge.title')"
                  @modal-close="toggleChargeModal"
          >
            <p>{{ $tc('nexinets-payment-component.charge.info', { orderNumber: order.orderNumber }) }}</p>
            <div class="nexinets-modal__wrapper">
              <div>
                <sw-number-field
                  class="nexinets-modal__input"
                  :label="$tc('nexinets-payment-component.payment-details.charged-amount')"
                  v-model:value="chargeAmount"
                  :min="0"
                  :max="paymentDetails.remainingChargeAmount"
                  numberType="float"
                  :allowEmpty="false"
                  :fillDigits="true"
                  :disabled="isItemsListVisible"
                >
                  <template v-slot:suffix>{{ order.currency.symbol }}</template>
                </sw-number-field>
                <p class="nexinets-modal__full-amount">
                  {{ $tc('nexinets-payment-component.charge.max-charge-info') }}
                  <span @click="onClickMaxCharge" data-testid="maxChargeBtn">{{ order.currency.symbol + paymentDetails.remainingChargeAmount }}</span>
                </p>
              </div>
              <sw-checkbox-field
                class="nexinets-modal__checkbox"
                :value="isItemsListVisible"
                @update:value="isItemsListVisible = $event"
                :label="$tc('nexinets-payment-component.charge.items-list')"
              >
              </sw-checkbox-field>
            </div>
            <div v-if="isItemsListVisible" class="nexinets-modal__items-list">
              <sw-grid :selectable="false" :items="paymentDetails.orderItems">
                <template #columns="{ item }">
                  <sw-grid-column flex="minmax(50px, 1.3fr)" :label="$tc('nexinets-payment-component.itemsTable.qty')">
                    {{ item.quantity }}x
                  </sw-grid-column>
                  <sw-grid-column flex="minmax(200px, 4fr)" :label="$tc('nexinets-payment-component.itemsTable.item')">
                    {{ item.name }}
                  </sw-grid-column>
                  <sw-grid-column flex="minmax(100px, 2.2fr)" :label="$tc('nexinets-payment-component.itemsTable.subtotal')">
                    {{ order.currency.symbol + item.grossTotalAmount }}
                  </sw-grid-column>
                  <sw-grid-column flex="minmax(100px, 2.5fr)" :label="$tc('nexinets-payment-component.itemsTable.chargeQty')" class="nexinets-modal__qty-col">
                    <sw-select-field placeholder="0" class="nexinets-modal__qty-select">
                      <option v-for="n in (parseInt(item.quantity) - parseInt(item.qtyCharged))" :key="n" :value="n">{{ n }}</option>
                    </sw-select-field>
                  </sw-grid-column>
                </template>
              </sw-grid>
            </div>
            <template #modal-footer>
              <sw-button @click="toggleChargeModal" class="nexinets-modal__btn">
                {{ $tc('nexinets-payment-component.cancel.button-action-title') }}
              </sw-button>
              <sw-button @click="handleCharge" class="nexinets-modal__btn" :isLoading="isLoading" variant="primary">
                {{ $tc('nexinets-payment-component.charge.button-title') }}
              </sw-button>
            </template>
          </sw-modal>
        {% endblock %}

        {% block nexinets_refund_modal %}
          <sw-modal
            v-if="isRefundModalVisible"
            :title="$tc('nexinets-payment-component.refund.title')"
            @modal-close="toggleRefundModal"
          >
            <p>{{ $tc('nexinets-payment-component.refund.info', { orderNumber: order.orderNumber }) }}</p>
            <div class="nexinets-modal__wrapper">
              <div>
                <sw-number-field
                  class="nexinets-modal__input"
                  :label="$tc('nexinets-payment-component.refund.input-label')"
                  v-model:value="refundAmount"
                  :min="0"
                  :max="paymentDetails.remainingRefundAmount"
                  numberType="float"
                  :fillDigits="true"
                  :allowEmpty="false"
                  :disabled="isItemsListVisible"
                >
                  <template v-slot:suffix>{{ order.currency.symbol }}</template>
                </sw-number-field>
                <p class="nexinets-modal__full-amount">
                  {{ $tc('nexinets-payment-component.refund.max-refund-info') }}
                  <span @click="onClickMaxRefund" data-testid="maxRefundBtn">{{ order.currency.symbol + paymentDetails.remainingRefundAmount }}</span>
                </p>
              </div>
              <sw-checkbox-field
                class="nexinets-modal__checkbox"
                :value="isItemsListVisible"
                @update:value="isItemsListVisible = $event"
                :label="$tc('nexinets-payment-component.charge.items-list')"
              >
              </sw-checkbox-field>
            </div>
            <div v-if="isItemsListVisible" class="nexinets-modal__items-list">
              <sw-grid :selectable="false" :items="paymentDetails.orderItems">
                <template #columns="{ item }">
                  <sw-grid-column flex="minmax(50px, 1.3fr)" :label="$tc('nexinets-payment-component.itemsTable.qty')">
                    {{ item.quantity }}x
                  </sw-grid-column>
                  <sw-grid-column flex="minmax(200px, 4fr)" :label="$tc('nexinets-payment-component.itemsTable.item')">
                    {{ item.name }}
                  </sw-grid-column>
                  <sw-grid-column flex="minmax(100px, 2.2fr)" :label="$tc('nexinets-payment-component.itemsTable.subtotal')">
                    {{ order.currency.symbol + item.grossTotalAmount }}
                  </sw-grid-column>
                  <sw-grid-column flex="minmax(100px, 2.5fr)" :label="$tc('nexinets-payment-component.itemsTable.refundQty')" class="nexinets-modal__qty-col">
                    <sw-select-field placeholder="0" class="nexinets-modal__qty-select">
                      <option v-for="n in (parseInt(item.quantity) - parseInt(item.qtyRefunded))" :key="n" :value="n">{{ n }}</option>
                    </sw-select-field>
                  </sw-grid-column>
                </template>
              </sw-grid>
            </div>
            <template #modal-footer>
              <sw-button @click="toggleRefundModal" class="nexinets-modal__btn">
                {{ $tc('nexinets-payment-component.cancel.button-action-title') }}
              </sw-button>
              <sw-button @click="handleRefund" class="nexinets-modal__btn" :isLoading="isLoading" variant="primary">
                {{ $tc('nexinets-payment-component.refund.button-title') }}
              </sw-button>
            </template>
          </sw-modal>
        {% endblock %}

        {% block nexinets_cancel_modal %}
          <sw-confirm-modal
            v-if="isCancelModalVisible"
            type="confirm"
            :text="$t('nexinets-payment-component.cancel.confirmation', { amount: paymentDetails.orderAmount, currency: order.currency.symbol })"
            :title="$t('nexinets-payment-component.cancel.title')"
            @confirm="handleCancel"
            @cancel="toggleCancelModal"
            @close="toggleCancelModal"
          />
        {% endblock %}
      </sw-card>
    {% endblock %}
  </template>
{% endblock %}